# The public URL of the site.
# Used for metadata, sitemaps, etc.
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# The URL of the BaaS (Backend as a Service) API.
# This is the backend that the Next.js BFF will communicate with.
BAAS_API_URL=http://localhost:3000
